html {
  height: 100%;
}

.render-route-store-home {
  background-color: #eee;
  height: 100%;
}

/* Hides header on home page */
.render-route-store-home .vtex-header,
.render-route-store-home .vtex-modal-root .vtex-top-menu {
  display: none;
}
